.scatter-title {
  font-size: 14pt;
  text-anchor: middle;
}

.axis-label {
  text-anchor: middle;
}

.fitline {
  stroke: rgb(255,0,0);
  stroke-width: 2;
  fill: none;
}

.error-predict-low {
  stroke: rgb(255,0,0);
  stroke-width: 1;
  stroke-dasharray: 5;
}

.error-predict-high {
  stroke: rgb(0,0,0);
  stroke-width: 1;
  stroke-dasharray: 5;
}
