.NumericSlider {
  border: 1px solid black;
  margin: 15px 5px;
  font-size: 14pt;
}

.NumericSlider .TextInput {
  font-size: 12pt;
  width: 4.5em;
}

.SliderControls {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.SliderControls .Slider {
  flex-grow: 5;
  flex-shrink: 5;
}
